<div class="container">
  <div class="board-image">
  </div>
  <div class="box">
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= render "login" %>
      <%= link_to "Sign Up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small btn-success' %>
    <% end %>
  </div>
</div>
