<div class="landing">
    <%= image_tag 'board.jpeg', class: 'landing-img' %>
    <div class="sidebar">
      <h1>Chess</h1>
      <p>Welcome to online chess! Challenge players from around the world with live head to head games. Create and account and start playing immediately. Not quite ready to join a game? <a href="https://en.wikipedia.org/wiki/Rules_of_chess">Learn more...</a></p>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link'%>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link'%>
          </li>
          <li>
            <%= link_to 'Create an Account', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
</div>
