<div class="container">
  <div class="col-5 board-image">
  </div>
  <div class=" col- 5 offset-2 box">
    <% unless user_signed_in? %>
      <%= render "login" %>
      <%= link_to "Sign Up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small btn-success' %>
    <% end %>
  </div>
</div>
