<!-- should eventually have user info on the right as wireframes-->
<div class="row game-page-container">
  <div class="col-8 text-center games-container">
    <h3>Currently available games !</h3>
    <br />
    <div class="row">
      <% @all_games.pending.recent.each do |game| %>
        <div class="col-4 offset-1 text-center game-card">
          Game #<%= game.id %>
          Current sattus: <%= game.status %>
        </div>
      <% end %>
      
    </div>
    
  </div>
  <div class="col-4 text-center player-panel">
    <h1> Welcome, Player XYZ</h1>
  </div>
</div>