<div class="board">
  <% 7.downto(0) do |y| %>
    <div class="row">
      <div class="label"><%= "#{y + 1}" %></div>
      <% 0.upto(7) do |x| %>
        <% piece = @chess_pieces.where(x: x, y: y).first %>
        <% if piece == nil %>
          <div class="cell"></div>
        <% else %>
          <%= link_to game_chess_piece_path(piece), remote: true do %>

            <div class="cell"><%= image_tag "#{piece.type}_#{piece.color}.png" %></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="last-label">*</div>
    <div class="column-label">A</div>
    <div class="column-label">B</div>
    <div class="column-label">C</div>
    <div class="column-label">D</div>
    <div class="column-label">E</div>
    <div class="column-label">F</div>
    <div class="column-label">G</div>
    <div class="column-label">H</div>
  </div>
</div>
