.game-page-container {
  margin-top: 100px;
}
.games-container {
}
.game-card {
  margin: 10px;
  background: #4BC3EB;
  border-radius: 2px;
  height: 150px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.game-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
a.cell {
  flex: 1;
}
a.cell div img {
  max-height: 70%;
  max-width: 70%;
  padding-top: 8%;
}
.cell img {
  max-height: 70;
  max-width: 70%;
  padding-top: 8%;
}
a.cell.selected-square div img {
  max-height: 70%;
  max-width: 70%;
  padding-top: 8%;
}
div.board div.row .cell.selected-square {
  box-shadow: inset 0 0 0 5px rgba(242, 50, 24, 0.9);
}
.captured-box {
  margin-left: 50px;
}
.captured-box img {
  height: 30px;
}