@import "bootstrap";
//Variables
$boardsize: 700px;

//Landing Page Styles (pages#index)
.container {
  display: flex;
}

.board-image {
  width: 60%;
  background-image: url(board.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.box {

  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  padding: 10px;
}

//Chessboard styles (games#index)


.board {
  margin-left: 100px;
  height: $boardsize;
  width: $boardsize;
  display: flex;
  flex-direction: column;
}

.row:nth-child(even) {
  .cell:nth-child(even) {
    background-color: #876708;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.2)

  }
}

.row:nth-child(odd) {
  .cell:nth-child(odd) {
    background-color: #876708;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.2)
  }
}

.row:nth-child(odd) {
  .cell:nth-child(even) {
    background-color: #fbf4eb;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.09)

  }
}

.row:nth-child(even) {
  .cell:nth-child(odd) {
    background-color: #fbf4eb;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.09);
  }
}

.row {
  height: 10%;
  flex: 1;
  display: flex;
}

.cell {
  text-align: center;
  flex: 1;
  border: 1px solid black;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.2);
}

.cell img {
}

.column-label {
  flex: 1;
  text-align: center;
  margin-top: 5px;
}

.label {
 margin-right: 5px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}
